<div class="main-aside">
    <div class="aside-user">
        <svg  class="icon" width="7rem" height="7rem">
            <use xlink:href="{{ assets('images/svgsprite.svg#user') }}"></use>
        </svg>
        <h2 class="title is-4 user-name">{{user.firstname | capitalize }} {{user.lastname | upper}}</h2>
    </div>
    <div class="aside-content">
        <nav class="nav">
            <a href="/dashboard" class="nav-link">My extractions</a>
            <a href="/extraction/new" class="nav-link">Add an extraction</a>
        </nav>
        <p class="logout">
            <img src="../../../../assets/images/enter.svg" alt="" width="20">
            Log out
        </p>
    </div>
</div>

<nav class="nav-mobile">
    <div class="nav-content">
        <img src="{{ assets('images/menu.svg') }}" alt="" width="35">
        <div class="nav-user">
            <h2 class="title is-4 user-name">Célia BELLOD</h2>
            <svg  class="icon" width="2.5rem" height="2.5rem">
                <use xlink:href="{{ assets('images/svgsprite.svg#user') }}"></use>
            </svg>
        </div>
    </div>
</nav>