<main class="form grid grid-2">
    <div class="form-left">
        <svg  class="icon is-white is-large">
            <use xlink:href="{{ assets('images/svgsprite.svg#user') }}"></use>
        </svg>
    </div>
    <div class="form-right">
        <form method="post" class="form-container" onsubmit="return valideConnect();">
            <h1 class="form-title title is-1">{{ form.title }}</h1>
            <p>{{ response }}</p>

            {% if (form.title == 'Create my account') %}
                <div class="form-container-half">
                {% for input in form.input %}
                    {% if loop.index == 3 %}
                        </div>
                    {% endif %}
                    {{ input|raw }}
                {% endfor %}
            {% else %}
                {% for input in form.input %}
                    {{ input|raw }}
                {% endfor %}
            {% endif %}

            {% if (form.title == 'LOGIN') %}
                <a class="has-text-center" href="/recovery-account">Mot de passe oublié ?</a>
            {% endif %}

            <button type="submit" class="btn btn-secondary is-large">Go !</button>
            <a href="{{ form.info.link }}" class="form-info">{{ form.info.title }}</a>
        </form>
    </div>
</main>