{% extends "admin/admin-base.html.twig" %}
{% block adminMain %}
    <div class="main-content">
        <a href="/extraction/{{ extraction.id }}" class="back-link">Retour</a>
        <div class="container">
            <h1 class="title is-2 main-content-title">{{ historic.date | date("Y/m/d")}}</h1>
            <p class="under-title">{{ extraction.name }}</p>
            <a class="info">Dowload extraction</a>

            <table class="tab">
                <tr class="tab-head">
                    <th>Data</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td>{{ result.data }}</td>
                        <td>{{ result.datas.dataName }}</td>
                        <td>{{ result.datas.dataType }}</td>
                    </tr>
                {% endfor %}
            
            </table>
            {% include 'parts/_pagination.html.twig' %}
        </div>
        <div class="info-bottom">
            <p>Reference : {{ historic.id }}</p>
            <p>Delete</p>
        </div>
    </div>
{% endblock %}  


