{% extends "admin/admin-base.html.twig" %}

{% block adminMain %}
    <div class="main-content desktop is-center">
        <div class="container">
            <h1 class="title is-2 main-content-title">My extractions</h1>
            <a href="/extraction/new" class="info">+ Add an extraction</a>
            <table class="tab">
                <tr class="tab-head">
                    <th>Name</th>
                    <th>Periodicity</th>
                    <th>Category</th>
                    <th></th>
                </tr>
                {% for extraction in extractions %}
                    <tr>
                        <td>{{ extraction.name }}</td>
                        <td>{{ extraction.periodicity }}</td>
                        <td>{{ extraction.category }}</td>
                        <td class="utils">
                            <a href="/extraction/{{ extraction.id }}"><img src="{{ assets('images/see.svg') }}" alt="" width="20"></a>
                            <a href="/extraction/{{ extraction.id }}/update"><img src="{{ assets('images/edit.svg') }}" alt="" width="20"></a>
                            <a href="/extraction/{{ extraction.id }}/delete"><img src="{{ assets('images/delete.svg') }}" alt="" width="20"></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'parts/_pagination.html.twig' %}
        </div>
    </div>


    <div class="main-content mobile is-center">
        <div class="container">
            <h1 class="title is-2 main-content-title">My extractions</h1>
            <p class="info"><a href="/extraction/new">+ Add an extraction</a></p>
            <div class="tab">
                {% for extraction in extractions %}
                    <div class="utils">
                        <a href="/extraction/{{ extraction.id }}"><img src="{{ assets('images/see.svg') }}" alt="" width="30"></a>
                        <a href="/extraction/{{ extraction.id }}/update"><img src="{{ assets('images/edit.svg') }}" alt="" width="30"></a>
                        <a href="/extraction/{{ extraction.id }}/delete"><img src="{{ assets('images/delete.svg') }}" alt="" width="30"></a>
                    </div>
                    <table class="tab-content">
                        <tbody>   
                            <tr>
                                <td>Name</td>
                                <td>{{ extraction.name }}{{ user.id }}</td>
                            <tr>
                            <tr>
                                <td>Periodicity</td>
                                <td>{{ extraction.periodicity }}</td>
                            <tr>
                            <tr>
                                <td>Category</td>
                                <td>{{ extraction.category }}</td>
                            <tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
            {% include 'parts/_pagination.html.twig' %}
        </div>
    </div>



{% endblock %}
