{% extends "admin/admin-base.html.twig" %}

{% block adminMain %}

    <div class="main-content my-account">
        {% include 'parts/_message.html.twig' %}
        <a href="/dashboard" class="back-link">Retour</a>
        <h1 class="title is-2 main-content-title">
            <svg class="icon is-secondary is-medium">
                <use xlink:href="{{ assets('images/svgsprite.svg#user') }}"></use>
            </svg>
            My account
        </h1>
        <div class="container">
            <form action="" method="post" class="form-extraction form-account">
                <div class="form-container">
                    <div class="form-container-half">
                        <input type='text' id='firstname' name='firstname' value="{{ user.firstname }}" class='form-input'/>
                        <input type='text' id='lastname' name='lastname' value="{{ user.lastname }}" class='form-input'/>
                    </div>
                    <div class="flex-center">
                        <input type='text' id='email' name='email' value="{{ user.email }}" class='form-input account-email'/> 
                    </div>
                </div>
              
                <a href="/my-account?password"><img src="{{ assets('images/lock.svg') }}" alt="" width="20">Change my password</button>
                <div class="flex-center">
                    <button type="submit" class="btn btn-secondary btn-account is-small">Thanks !</button>
                </div>
            </form>
        </div>
        <div class="info-bottom single">
           <a class="has-text-secondary" href="">Delete my account</a>
        </div>
    </div>

{% endblock %}