{% extends "admin/admin-base.html.twig" %}

{% block adminMain %}
    <div class="main-content">
        <a href="/dashboard" class="back-link">Retour</a>
        <div class="container">
            <h1 class="title is-2 extraction-title">Update {{ extraction.name }}</h1>
            <form action="" method="post" class="form-extraction">
                <section>
                    <div class="flex-center">
                        <input type='text' id='extractionName' name='extractionName' class='form-input' value="{{ extraction.name }}"/>
                    </div>
                    <div class="form-container-half">
                        <input type='text' id='url' name='url' value="{{ extraction.url }}" class='form-input'/>
                        <select name="periodicity" id="periodicity" class="form-select">
                            <option value="{{ extraction.periodicity }}">{{ extraction.periodicity }}</option>
                            <option value="1/day">1/day</option>
                            <option value="1/week">1/week</option>
                            <option value="1/month">1/month</option>
                            <option value="1/year">1/year</option>
                        </select>
                    </div>
                    <div class="form-container-half">
                        <select name="type" id="type" class="form-select">
                            <option value="{{ extraction.type }}">{{ extraction.type }}</option>
                            <option value="text">Simple</option>
                            <option value="number">Multiplicty</option>
                        </select>
                        <select name="category" id="category" class="form-select">
                            <option value="{{ extraction.category }}">{{ extraction.category }}</option>
                            <option value="information">Information</option>
                            <option value="compare">Compare</option>
                            <option value="price">Price</option>
                            <option value="1/year"></option>
                        </select>
                    </div>
                </section>
                <section class="extraction-section">
                    <h2 class="title is-3">Container</h2>
                    <input type='text' id='primaryContainer' name='primaryContainer' value="{{ extraction.primaryContainer }}" class='form-input'/>
                    <input type='text' id='secondaryContainer' name='secondaryContainer' value="{{ extraction.secondaryContainer }}" class='form-input'/>
                </section>
                <section class="extraction-section">
                    <h2 class="title is-3">Datas</h2>
                    {% for data in extraction.datas %}
                    <input type="hidden" name='dataId[{{ data.id }}]' value='{{ data.id }}'>
                    <input type='text' id='dataName' name='dataName[{{ data.id }}]' value="{{ data.dataName }}" class='form-input'/>
                    <select name="dataType[{{ data.id }}]" id="dataType" class="form-select">
                        <option value="{{ data.dataType }}">{{ data.dataType }}</option>
                        <option value="text">Text</option>
                        <option value="number">Number</option>
                        <option value="price">Price</option>
                    </select>
                    <input type='text' id='dataPath' name='dataPath[{{ data.id }}]' value="{{ data.dataPath }}" class='form-input' />
                    {% endfor %}
                </section>
                <div class="flex-center">
                    <button type="submit" class="btn btn-secondary form-btn btn-extraction">Go !</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
